# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# PyInstaller
*.spec
build/
dist/

# IDE
.vscode/
.idea/

# OS
Desktop.ini
Thumbs.db

# Website
website/

# Output
Output/

# Build Scripts (local development)
scripts/
